/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext); */

body {
background-color: #343536;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 14px;
line-height: 25px;
color: #343536;
margin: 0;
padding: 0;
text-rendering: optimizeLegibility;
}

* {
margin: 0;
padding: 0;
}

a {
text-decoration: none;
}

p {
margin: 14px 0;
}

#wrap {
width: 728px;
margin: 0 auto;
}

h1 {
background: url(logo-black.png) no-repeat;
display: block;
width: 56px;
height: 28px;
margin: 35px 0;
}

h1 span {
display: none;
}

#ad {
background-color: #343536;
display: block;
width: 728px;
height: 90px;
clear: left;
}

#menu {
width: 500px;
margin: 40px 0;
margin-left: 114px;
}

.nav {
list-style: none;
margin-left: 0;
font-size: 12px;
line-height: 20px;
width: 125px;
float: left;
color: #949696;
margin-bottom: 40px;
}

.nav li a {
color: #949696;
}

.nav li a:hover {
color: #666768;
}

.nav li.selected a {
color: #fff;
}

h2 {
font-size: 25px;
margin-bottom: 25px;
color: #fff;
}

h3 {
font-size: 18px;
color: #fff;
}

h3 a {
color: #fff;
}

h3 a:after {
content: " ›";
}

.metadata {
font-size: 10px;
line-height: 21px;
margin-left: 0;
padding: 2px 0;
color: #888;
border-bottom: #ddd 1px solid;
}

.metadata span {
margin-right: 20px;
padding-right: 30px;
padding-bottom: 5px;
border-bottom: #ddd 2px solid;
}

.metadata strong {
margin: 0 10px;
}

#content {
background-color: #fff;
background-color: #efe717;
padding: 40px 114px;
padding-top: 60px;
}

#content p {
}

#context {
height: 50px;
padding: 10px 0;
margin-bottom: 25px;
border-top: #343536 1px solid;
border-bottom: #343536 1px solid;
}

#context ul.inline {
font-size: 12px;
list-style: none;
width: 125px;
float: left;
}

#context ul.inline li a {
color: #343536;
}

#context ul.inline li a:hover {
color: #666768;
}

#context ul.inline li.selected a {
color: #fff;
}