<ul class="three">
    <li class="paginated">
        <a href="/muscular/" title="Sistemul muscular">Muscular</a>
    </li>
    <li class="paginated">
        <a href="/nervos/" title="Sistemul nervos">Nervos</a>
    </li>
    <li class="paginated">
        <a href="/osos/" title="Sistemul osos">Osos</a>
    </li>
    <li class="paginated">
        <a href="/reproducator/" title="Sistemul reproducător">Reproducător</a>
    </li>
    {% if page.section == 'circulator' %}<li class="selected">{% else %}<li>{% endif %}
        <a href="/circulator.html" title="Sistemul Circulator">Circulator</a>
    </li>
    {% if page.section == 'digestiv' %}<li class="selected">{% else %}<li>{% endif %}
        <a href="/digestiv.html" title="Sistemul digestiv">Digestiv</a>
    </li>
    {% if page.section == 'limfatic' %}<li class="selected">{% else %}<li>{% endif %}
        <a href="/limfatic.html" title="Sistemul limfatic">Limfatic</a>
    </li>
    {% if page.section == 'respirator' %}<li class="selected">{% else %}<li>{% endif %}
        <a href="/respirator.html" title="Sistemul respirator">Respirator</a>
    </li>
    {% if page.section == 'endocrin' %}<li class="selected">{% else %}<li>{% endif %}
        <a href="/endocrin.html" title="Sistemul endocrin">Endocrin</a>
    </li>
    {% if page.section == 'excretor' %}<li class="selected">{% else %}<li>{% endif %}
        <a href="/excretor.html" title="Sistemul excretor">Excretor</a>
    </li>
</ul>
