<ul class="two">
    <li class="{% if page.url contains "scheletici" %}selected{% endif %}">
        <a href="/muscular/scheletici.html">Scheletici</a>
    </li>
    <li class="{% if page.url contains "netezi" %}selected{% endif %}">
        <a href="/muscular/netezi.html">Netezi</a>
    </li>
    <li class="{% if page.url contains "cardiac" %}selected{% endif %}">
        <a href="/muscular/cardiac.html">Cardiac</a>
    </li>
    <li class="{% if page.url contains "contractii" %}selected{% endif %}">
        <a href="/muscular/contractii.html">Contracțiile</a>
    </li>
    <li class="last {% if page.url contains "tendoane" %}selected{% endif %}">
        <a href="/muscular/tendoane.html">Tendoanele</a>
    </li>
    <li class="last {% if page.url contains "structura" %}selected{% endif %}">
        <a href="/muscular/structura.html">Structura</a>
    </li>
    <li class="last {% if page.url contains "grupe" %}selected{% endif %}">
        <a href="/muscular/grupe.html">Grupele</a>
    </li>
    <li class="last {% if page.url contains "proprietati" %}selected{% endif %}">
        <a href="/muscular/proprietati.html">Proprietățile</a>
    </li>
</ul>
