<div id="context">
    <ul class="inline">
        {% if include.page == "scheletici" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/scheletici.html">Mușchii scheletici</a>
        </li>
        {% if include.page == "netezi" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/netezi.html">Mușchii netezi</a>
        </li>
        {% if include.page == "cardiac" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/cardiac.html">Mușchiul cardiac</a>
        </li>
        {% if include.page == "tendoane" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/tendoane.html">Tendoanele</a>
        </li>
        {% if include.page == "structura" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/structura.html">Structura mușchilor</a>
        </li>
        {% if include.page == "grupe" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/grupe.html">Grupele mușchilor</a>
        </li>
        {% if include.page == "proprietati" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/proprietati.html">Proprietățile mușchilor</a>
        </li>
        {% if include.page == "contractii" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/contractii.html">Contracțiile musculare</a>
        </li>
    </ul>
</div>
