<div id="context">
    <ul class="inline">
        {% if include.page == "scheletici" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/scheletici.html">Scheletici</a>
        </li>
        {% if include.page == "netezi" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/netezi.html">Netezi</a>
        </li>
        {% if include.page == "cardiac" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/cardiac.html">Cardiac</a>
        </li>
        {% if include.page == "contractii" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/contractii.html">Contracțiile</a>
        </li>
        {% if include.page == "tendoane" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/tendoane.html">Tendoanele</a>
        </li>
        {% if include.page == "structura" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/structura.html">Structura</a>
        </li>
        {% if include.page == "grupe" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/grupe.html">Grupele</a>
        </li>
        {% if include.page == "proprietati" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/muscular/proprietati.html">Proprietățile</a>
        </li>
    </ul>
</div>
