<ul class="two">
    <li class="{% if page.url contains "celule" %}selected{% endif %}">
        <a href="/nervos/celule.html">Celulele</a>
    </li>
    <li class="{% if page.url contains "central" %}selected{% endif %}">
        <a href="/nervos/central.html">Central</a>
    </li>
    <li class="{% if page.url contains "periferic" %}selected{% endif %}">
        <a href="/nervos/periferic.html">Periferic</a>
    </li>
    <li class="{% if page.url contains "receptori" %}selected{% endif %}">
        <a href="/nervos/receptori.html">Receptorii</a>
    </li>
    <li class="last {% if page.url contains "vorbire" %}selected{% endif %}">
        <a href="/nervos/vorbire.html">Vorbirea</a>
    </li>
    <li class="last {% if page.url contains "urechi" %}selected{% endif %}">
        <a href="/nervos/urechi.html">Urechile</a>
    </li>
    <li class="last {% if page.url contains "ochi" %}selected{% endif %}">
        <a href="/nervos/ochi.html">Ochii</a>
    </li>
    <li class="last {% if page.url contains "coordonare" %}selected{% endif %}">
        <a href="/nervos/coordonare.html">Coordonarea</a>
    </li>
</ul>
