<div id="context">
    <ul class="inline">
        {% if include.page == "celule" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/nervos/celule.html">Celule nervoase</a>
        </li>
        {% if include.page == "receptori" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/nervos/receptori.html">Receptori</a>
        </li>
        {% if include.page == "periferic" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/nervos/periferic.html">Sistem periferic</a>
        </li>
        {% if include.page == "central" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/nervos/central.html">Sistem central</a>
        </li>
        {% if include.page == "ochi" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/nervos/ochi.html">Ochii</a>
        </li>
        {% if include.page == "urechi" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/nervos/urechi.html">Urechile</a>
        </li>
        {% if include.page == "vorbire" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/nervos/vorbire.html">Vorbirea</a>
        </li>
        {% if include.page == "coordonare" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/nervos/coordonare.html">Coordonarea</a>
        </li>
    </ul>
</div>
