<div id="context">
    <ul class="inline">
        {% if include.page == "cartilaje" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/osos/cartilaje.html">Cartilajele</a>
        </li>
        {% if include.page == "oase" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/osos/oase.html">Oasele</a>
        </li>
        {% if include.page == "piele" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/osos/piele.html">Pielea</a>
        </li>
        {% if include.page == "articulatii" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/osos/articulatii.html">Articulațiile</a>
        </li>
        {% if include.page == "ligamente" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/osos/ligamente.html">Ligamentele</a>
        </li>
        {% if include.page == "schelet" %}<li class="selected">{% else %}<li>{% endif %}
            <a href="/osos/schelet.html">Scheletul</a>
        </li>
    </ul>
</div>
