<ul class="two">
    <li class="{% if page.url contains "cartilaje" %}selected{% endif %}">
        <a href="/osos/cartilaje.html">Cartilajele</a>
    </li>
    <li class="{% if page.url contains "oase" %}selected{% endif %}">
        <a href="/osos/oase.html">Oasele</a>
    </li>
    <li class="{% if page.url contains "piele" %}selected{% endif %}">
        <a href="/osos/piele.html">Pielea</a>
    </li>
    <li class="{% if page.url contains "articulatii" %}selected{% endif %}">
        <a href="/osos/articulatii.html">Articulațiile</a>
    </li>
    <li class="last {% if page.url contains "ligamente" %}selected{% endif %}">
        <a href="/osos/ligamente.html">Ligamentele</a>
    </li>
    <li class="last {% if page.url contains "schelet" %}selected{% endif %}">
        <a href="/osos/schelet.html">Scheletul</a>
    </li>
</ul>
