<ul class="one">
    <li class="last {% if page.url contains "ereditate" %}selected{% endif %}">
        <a href="/reproducator/ereditate.html">Ereditarea</a>
    </li>
    <li class="last {% if page.url contains "feminin" %}selected{% endif %}">
        <a href="/reproducator/feminin.html">Feminin</a>
    </li>
    <li class="last {% if page.url contains "masculin" %}selected{% endif %}">
        <a href="/reproducator/masculin.html">Masculin</a>
    </li>
    <li class="last {% if page.url contains "reproducere" %}selected{% endif %}">
        <a href="/reproducator/reproducere.html">Reproducerea</a>
    </li>
</ul>
