* { margin: 0; padding: 0; }

body { background-color: gainsboro; font-family: "Clear Sans", sans-serif; font-size: 14px; line-height: 20px; cursor: default; }

a { color: black; text-decoration: none; transition: color 0.5s; }

.content { margin: 0 auto; max-width: 468px; position: relative; }

.header { padding-top: 20px; }

.header .square { width: 40px; height: 20px; text-align: center; position: absolute; top: -20px; right: 0; }

.header .square a { display: block; float: left; width: 20px; }

.header .square .left { color: #f1a04e; background-color: #e82; }

.header .square .right { color: #f1694e; background-color: #e42; }

.header h5 { font-size: 12px; text-transform: uppercase; line-height: 15px; }

.header h5:first-letter { text-decoration: underline; }

.header h5 a { color: gray; }

.header h5 a.selected { color: #248; }

.header h1 { color: #288; font-size: 25px; line-height: 30px; padding-bottom: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.header ul { font-size: 12px; font-weight: bold; text-transform: uppercase; }

.header ul.one { height: 30px; }

.header ul.two { height: 55px; }

.header ul.three { height: 80px; }

.header ul a { color: gray; }

.header ul a:hover { color: #248; }

.header ul li { display: block; float: left; line-height: 25px; height: 25px; border-right: silver 1px solid; padding-left: 15px; width: calc(25% - 16px); overflow: hidden; white-space: nowrap; position: relative; }

.header ul li:nth-child(4n+1) { padding-left: 0; width: calc(25% - 1px); }

.header ul li:nth-child(4n) { border-right: 0 none; }

.header ul li:after { background: ms-linear-gradient(left, rgba(220, 220, 220, 0) 0%, gainsboro 90%); background: moz-linear-gradient(left, rgba(220, 220, 220, 0) 0%, gainsboro 90%); background: -webkit-linear-gradient(left, rgba(220, 220, 220, 0) 0%, gainsboro 90%); background: linear-gradient(left, rgba(220, 220, 220, 0) 0%, gainsboro 90%); display: block; position: absolute; content: " "; z-index: 2; top: 0; right: 0; width: 15px; height: 25px; }

.header ul .last { padding-bottom: 5px; }

.header ul .paginated:first-letter { text-decoration: underline; }

.header ul .selected a { color: #248; }

.main { background-color: white; box-shadow: 0 0 10px 0 silver; padding-bottom: 15px; }

.main h4 { padding-top: 10px; }

.main h4:first-child { padding-top: 0; }

.main p { padding: 5px 0; cursor: text; }

.main ul { padding-left: 15px; }

.footer { padding: 15px 0; color: gray; }

.footer a { color: #248; }

.footer .sponsor { float: right; }

.adsense { background-color: whitesmoke; width: 468px; height: 60px; margin: 0 auto; margin-bottom: 15px; }

.mobilead { display: none; }

@media (max-width: 468px) { .header .square { right: 15px; }
  .content { padding: 0 15px; }
  .adsense { display: none; }
  .mobilead { display: block; background-color: whitesmoke; width: 320px; height: 50px; margin: 0 auto; margin-bottom: 15px; } }

@font-face { font-family: "Clear Sans"; font-style: normal; font-weight: normal; src: url(/static/clearsans/regular.woff) format("woff"); }

@font-face { font-family: "Clear Sans"; font-style: normal; font-weight: bold; src: url(/static/clearsans/bold.woff) format("woff"); }
