* { margin: 0; padding: 0; }

body { background-color: gainsboro; font-family: "Clear Sans", sans-serif; font-size: 14px; line-height: 20px; }

a { color: black; text-decoration: none; transition: color 0.5s; }

.content { margin: 0 auto; max-width: 468px; }

.main { background-color: white; padding: 30px 0; }

.header .square { width: 40px; height: 20px; margin-left: 428px; text-align: center; color: whitesmoke; }

.header .square div { width: 20px; float: left; }

.header .square .left { background-color: gray; }

.header .square .right { background-color: black; }

.header h5 { font-size: 12px; text-transform: uppercase; }

.header h1 { margin-bottom: 20px; }

.header ul { height: 75px; font-size: 12px; font-weight: bold; text-transform: uppercase; }

.header ul a { color: gray; }

.header ul a:hover { color: black; }

.header ul li { display: block; float: left; line-height: 25px; height: 25px; border-right: silver 1px solid; padding: 0 20px; width: calc(25% - 41px); }

.header ul li:nth-child(1), .header ul li:nth-child(5), .header ul li:nth-child(9) { padding-left: 0; width: calc(25% - 21px); }

.header ul li:nth-child(4), .header ul li:nth-child(8) { border-right: 0 none; padding-right: 0; width: calc(25% - 21px); }

.main p { padding: 5px 0; }

.main ul { overflow: hidden; padding: 10px 0; }

.main ul a { color: gray; }

.main ul a:hover { color: black; }

.main ul li { display: block; float: left; width: 25%; }

.footer { padding: 20px 0; }

.footer .sponsor { color: gray; float: right; }

.adsense { background-color: whitesmoke; margin-top: 30px; }
