<!DOCTYPE html>
<html lang="ro">
<head>
<title>{{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<base href="http://anatomics.github.com/" />
<link rel="stylesheet" type="text/css" href="style.css" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-276490-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>

<div id="wrap">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="menu">
<ul class="nav">
    <li {% if page.section == 'index' %}class="selected"{% endif %}>
        <a href="./">Corpul omenesc</a></li>
    <li> &nbsp; </li>
    <li> &nbsp; </li>
    <li {% if page.section == 'jurnal' %}class="selected"{% endif %}>
        <a href="./jurnal.html">Jurnal</a>
    </li>
    <li {% if page.section == 'contact' %}class="selected"{% endif %}>
        <a href="./contact.html">Contact</a>
    </li>
</ul>
<ul class="nav">
    <li {% if page.section == 'nervos' %}class="selected"{% endif %}>
        <a href="./nervos.html">Nervos</a></li>
    <li {% if page.section == 'endocrin' %}class="selected"{% endif %}>
        <a href="./endocrin.html">Endocrin</a></li>
    <li {% if page.section == 'osos' %}class="selected"{% endif %}>
        <a href="./osos.html">Osos</a></li>
    <li {% if page.section == 'muscular' %}class="selected"{% endif %}>
        <a href="./muscular.html">Muscular</a></li>
    <li>&nbsp;</li>
</ul>
<ul class="nav">
    <li {% if page.section == 'digestiv' %}class="selected"{% endif %}>
        <a href="./digestiv.html">Digestiv</a></li>
    <li {% if page.section == 'circulator' %}class="selected"{% endif %}>
        <a href="./circulator.html">Circulator</a></li>
    <li {% if page.section == 'limfatic' %}class="selected"{% endif %}>
        <a href="./limfatic.html">Limfatic</a></li>
    <li {% if page.section == 'respirator' %}class="selected"{% endif %}>
        <a href="./respirator.html">Respirator</a></li>
    <li {% if page.section == 'excretor' %}class="selected"{% endif %}>
        <a href="./excretor.html">Excretor</a></li>
</ul>
<ul class="nav">
    <li {% if page.section == 'reproducator' %}class="selected"{% endif %}>
        <a href="./reproducator.html">Reproducător</a>
    </li>
    <li> &nbsp; </li>
    <li> &nbsp; </li>
    <li> &nbsp; </li>
    <li {% if page.section == 'glosar' %}class="selected"{% endif %}>
       <a href="./glosar.html">Glosar termeni</a>
    </li>
</ul>
</div>

<div id="ad">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9499208914818603";
/* anatomics plus */
google_ad_slot = "7702726116";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<div id="content">
    <h2>{{ page.title }}</h2>
    <p class="date">{{ page.date | date_to_string }}</p>
    {{ content }}
</div>

<div class="fb-like" data-href="http://omenesc.ro/" data-send="false" data-layout="button_count" data-width="500" data-show-faces="true" data-colorscheme="dark"></div>

</div>

</body>

</html>