<!DOCTYPE html>
<html lang="ro">
<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <meta charset="utf-8" />
    <meta name="description" content="Studiu de caz cu privire la anatomia corpului uman, a sistemelor și a organelor acestuia în stilul Wikipedia." />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async defer></script>
</head>

<body>

<div class="header">
    <div class="content">
        <div class="square">
            <a class="left" href="/">&nbsp;</a>
            <a class="right" href="/">&nbsp;</a>
        </div>
        <h5>
            {% if page.section == "osos" %}
                <a class="{% if page.url == '/osos/' %}selected{% endif %}"
                    href="/osos/">{{ page.section }}</a>
            {% elsif page.section == "nervos" %}
                <a class="{% if page.url == '/nervos/' %}selected{% endif %}"
                    href="/nervos/">{{ page.section }}</a>
            {% elsif page.section == "muscular" %}
                <a class="{% if page.url == '/muscular/' %}selected{% endif %}"
                    href="/muscular/">{{ page.section }}</a>
            {% elsif page.section == "reproducator" %}
                <a class="{% if page.url == '/reproducator/' %}selected{% endif %}"
                    href="/reproducator/">{{ page.section }}</a>
            {% else %}
                <a class="{% if page.url == '/' %}selected{% endif %}"
                    href="/">omenesc</a>
            {% endif %}
        </h5>
        <h1>
            {{ page.title }}
        </h1>
        {% if page.section == "osos" %}
            {% include osos.html %}
        {% elsif page.section == "nervos" %}
            {% include nervos.html %}
        {% elsif page.section == "muscular" %}
            {% include muscular.html %}
        {% elsif page.section == "reproducator" %}
            {% include reproducator.html %}
        {% else %}
            {% include menu.html %}
        {% endif %}
    </div>
</div>

<div class="main">
    <div class="adsense">
        <!-- anatomie -->
        <ins class="adsbygoogle"
             style="display:block;width:468px;height:60px"
             data-ad-client="ca-pub-9499208914818603"
             data-ad-slot="6802290016"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="content">
        {{ content }}
    </div>
</div>

<div class="footer">
    <div class="content">
        <div class="sponsor">
            Sponsorizat de <a target="_blank" href="http://sublevel.net/">Sublevel</a>
        </div>
        <div class="copy">
            2017 &copy;
        </div>
    </div>
</div>

</body>

</html>
